{% load static %}
<div class="nav-container" style="background-color: black;">
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">&#9776;</span>
          </button>
        </div>
        <div class="col-4 text-center">
          <a class="navbar-brand" href="{% url 'paginaInicial' %}">
            <img src="{% static 'images/logo-horizontal.png' %}" alt="logo"
              style='margin-left: -20%; margin-right: -20%;' class="logo">
          </a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    </header>

    <nav class="nav navbar navbar-expand-md px-4 py-0 mb-2 justify-content-around ">
      <div class="collapse navbar-collapse" id='navbar'>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
          <li class="nav-item"><a class="p-2 hormenu nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="nav-item"><a class="p-2 hormenu nav-link" href="{% url 'fila:plantar' %}">Plantar</a></li>
          <li class="nav-item"><a class="p-2 hormenu nav-link" href="{% url 'fila:allFila' %}">Fila</a></li>
          <li class="nav-item"><a class="p-2 hormenu nav-link" href="{% url 'pistas:allPistas' %}">Pistas</a></li>
          <li class="nav-item"><a class="p-2 hormenu nav-link" href="{% url 'desejos:allDesejos' %}">Desejos</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hormenu" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Caça
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'caminhos:allCaminhos' %}">Caminhos</a></li>
              <li><a class="dropdown-item" href="{% url 'caminhos:allCortes' %}">Cortes</a></li>
              <li><a class="dropdown-item" href="{% url 'pistas:allSenhas' %}">Senhas</a></li>
              <li><a class="dropdown-item" href="{% url 'artefatos:allArtefatos' %}">Artefatos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hormenu" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'gerencial:gerencial' %}">Gerencial</a></li>
              <li><a class="dropdown-item" href="{% url 'sessions' %}">Usuários</a></li>
              <li><a class="dropdown-item" href="{% url 'logs' %}">Logs</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>