{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class='center-box'>
            <h2 class="raleway-title" >Insira seu e-mail</h2>

            <form method="post" class='login-form'>
              {% csrf_token %}
              <div class="form-fields">
                  
                <div class="form-group">
                  <div class="form-input">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></div>
                  <input type="email" name="email" autocomplete="email" placeholder="E-mail" maxlength="254" required="" id="id_email">
                  </div>
                </div>
              </div>
              <input class="btn btn-md btn-custom" type="submit" value="Enviar">
          </form>

            <a href="{% url 'dashboard' %}">Voltar para página inicial</a>
        </div>
    </div>
</div>
{% endblock %}