{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class='center-box'>
          <h2 class="raleway-title" >Crie sua nova senha</h2>
            <form method="post" class='login-form'>
              {% csrf_token %}
              <div class="form-fields">
                {% for field in form %}
                {% for error in field.errors %}
                          <p class="help-block">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                <div class="form-group">
                  <div class="form-input">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                  <input type="password" placeholder='Nova senha' name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                  
                  </div>
                </div>
              
                <div class="form-group">
                  <div class="form-input">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                    <input type="password" placeholder='Repetir nova senha' name="new_password2" autocomplete="new-password" required="" id="id_new_password2">

                    </div>
                </div>
              </div>
              <input class="btn btn-md btn-custom"  type="submit" value="Confirmar">
            </form>
        </div>
    </div>
</div>
{% endblock %}