{% extends 'base.html' %}

{% block content %}
{% include "navbarMain.html" %}

<div class="section font-normal">
  <div class="background-video w-background-video w-background-video-atom" data-poster-url="./static/images/vito.jpg" data-autoplay="true" data-loop="true" data-wf-ignore="true" id="Hero">
      <video autoplay="" loop="" style="background-image:url(&quot;./static/images/capasite.png&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
          <source src="./static/images/video.mp4" data-wf-ignore="true">
          <source src="./static/images/vito.jpg" data-wf-ignore="true">
      </video>
      
      <!--
      <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
       <img src='./static/images/logo-minicaca.png' class="logo-grande">
      </div> -->
  </div> 
</div>
<!--
<div id="Overview" class="section bg-black wf-section font-normal">
<div class="container p-top p-bot d-flex flex-column justify-content-center align-items-center">
   <h1 style="opacity: 1;" class="display-2 large-heading">A MAGIA ANCESTRAL TE AGUARDA</h1>
</div>  
<div class="container p-bot">
      <div style="opacity: 1;" class="w-layout-grid grid-thirds icon-grid-thirds text-white">
          <div class="text-center">
              <div class="centered-in-parent space-bottom icon-extra-large">
                  <div class="icon-decoration-container"><img src='./static/images/8bruxas.png' alt="" class="icon-extra-large">
                  </div>
              </div>
              <div class="content-width-small">Grandes bruxas disputam o poder e a busca pela sobrevivência.
              </div>
          </div>
          <div class="text-center">
              <div class="centered-in-parent space-bottom icon-extra-large">
                  <div class="icon-decoration-container"><img src='./static/images/3semanas.png' alt="" class="icon-extra-large">
                  </div>
              </div>
              <div class="content-width-small">O grande torneio já tem data de início. Preparem as suas tochas!
              </div>
          </div>
          <div class="text-center">
              <img src='./static/images/desafios.png' alt="" class="icon-extra-large space-bottom">
              <div class="content-width-small">Concentrem suas forças e preparem-se para essa temida aventura!</div>
          </div>
      </div>
  </div>
</div>

<div id="Gameplay" class="section bg-paper font-normal">
<div class="container p-top p-bot d-flex flex-column justify-content-center align-items-center">
   <h1 style="opacity: 1;" class="display-2 large-heading">PREPARE-SE PARA O CAÇA</h1>
</div>
  <div class="container p-bot d-flex flex-column justify-content-center align-items-center">
     <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
        <div style="opacity: 1;" class="tabs-center w-tab-menu" role="tablist">
           <a data-w-tab="Tab 1" class="text-tab w-inline-block w-tab-link w--current" id="w-tabs-1-data-w-tab-0" href="#w-tabs-1-data-w-pane-0" role="tab" aria-controls="w-tabs-1-data-w-pane-0" aria-selected="true">
              <div class="text-block"><strong class="bold-text">O CMR</strong></div>
           </a>
           <a data-w-tab="Tab 2" class="text-tab w-inline-block w-tab-link" tabindex="-1" id="w-tabs-1-data-w-tab-1" href="#w-tabs-1-data-w-pane-1" role="tab" aria-controls="w-tabs-1-data-w-pane-1" aria-selected="false">
              <div class="text-block"><strong class="bold-text">As Provas</strong></div>
           </a>
           <a data-w-tab="Tab 3" class="text-tab no-bottom-space w-inline-block w-tab-link" tabindex="-1" id="w-tabs-1-data-w-tab-2" href="#w-tabs-1-data-w-pane-2" role="tab" aria-controls="w-tabs-1-data-w-pane-2" aria-selected="false">
              <div class="text-block"><strong class="bold-text">O Caça</strong></div>
           </a>
        </div>
        <div class="w-tab-content">
           <div data-w-tab="Tab 1" style="opacity: 1;" class="w-tab-pane w--tab-active" id="w-tabs-1-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-0">
              <div class="w-layout-grid split-section align-center">
                 <div id="w-node-fea5164d-3d23-fff1-1e24-dd4726b27c8c-94e512c6" class="content-width-medium">
                     <p style="text-indent: 20px;" class='justificado'>A Lista, repleta de enigmas e desafios mágicos, é a chave para a glória na edição deste ano do Integrapoli. Cada item desta Lista encantada - é um convite para explorar os recantos mais sombrios, desafiando seu povo a demonstrar habilidades dignas de feiticeiros.</p>
                     <p style="text-indent: 20px;" class='justificado'>Entre as tarefas, vislumbra-se a arte de se transformar em bruxas e bruxos extraordinários, com trajes que refletem o esplendor da magia. A produção de vídeos também está no centro do desafio, permitindo que sua criatividade desabroche em meio a poções e feitiços. Construir cenários misteriosos e artefatos encantados também será parte integrante do caminho para a vitória.</p>
                 </div>
                 <img width="494" sizes="(max-width: 479px) 95vw, (max-width: 767px) 89vw, (max-width: 991px) 494px, (max-width: 1919px) 46vw, 494px" src='./static/images/lista.png' alt="" class="content-width-medium">
              </div>
           </div>
           <div data-w-tab="Tab 2" class="w-tab-pane" id="w-tabs-1-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-1">
              <div class="w-layout-grid split-section align-center">
                 <div id="w-node-fea5164d-3d23-fff1-1e24-dd4726b27c97-94e512c6" class="content-width-medium">
                         <p style="text-indent: 20px;" class='justificado'>As Provas deste ano irão além das habilidades convencionais, transformando seu povo em verdadeiros magos do entretenimento. Na dança, cada passo se tornará um feitiço, encantando a audiência e conquistando preciosos pontos.</p>
                         <p style="text-indent: 20px;" class='justificado'>A determinação atingirá novos patamares, desafiando a resistência dos competidores em um banquete mágico. Poções e elixires especiais serão preparados, testando não apenas o paladar, mas também a coragem diante de misturas encantadas.</p>
                         <p style="text-indent: 20px;" class='justificado'>Preparem-se para surpresas! Aqueles que conjurarem a magia do momento terão vantagem, ganhando a admiração de todos.</p>
                 </div>
                 <img width="494" sizes="(max-width: 479px) 95vw, (max-width: 767px) 89vw, (max-width: 991px) 494px, (max-width: 1919px) 46vw, 494px" src='./static/images/provas.png' alt="" class="content-width-medium">
              </div>
           </div>
           <div data-w-tab="Tab 3" class="w-tab-pane" id="w-tabs-1-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-2">
              <div class="w-layout-grid split-section align-center">
                 <div id="w-node-fea5164d-3d23-fff1-1e24-dd4726b27ca2-94e512c6" class="content-width-medium align-self-center">
                          <p style="text-indent: 20px;" class='justificado'>Uma odisseia que desafia não apenas a força física, mas também a perspicácia encantada dos bruxos mais ousados. As trilhas que conduzem à salvação não serão simples de percorrer, assim como os desafios mágicos que se revelarão ao longo dessa jornada feérica.</p>
                          <p style="text-indent: 20px;" class='justificado'>Apenas os verdadeiramente puros poderão alcançar o desfecho mágico e serem recompensados com o fim aguardado, fruto de sua maestria nas artes encantadas e da capacidade de superar desafios extraordinários.</p>
                   </div>
                 <img width="494" sizes="(max-width: 479px) 95vw, (max-width: 767px) 89vw, (max-width: 991px) 494px, (max-width: 1919px) 46vw, 494px" src='./static/images/caca.png' alt="" class="content-width-medium">
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
-->
<div id="Connect" class="section wf-section p-top p-bot" data-gtm-vis-first-on-screen-33669515_23="6702" data-gtm-vis-total-visible-time-33669515_23="500" data-gtm-vis-has-fired-33669515_23="1">
 <div class="container">
    <div>
       <div class="section-title text-white text-center">
          <div style="opacity: 1;" class="center-image space-bottom mb-5"><img src="./static/images/logo-vertical.png" loading="lazy" height="125" alt=""></div>
          
          <h3 style="opacity: 1;" class="large-heading">ENTRE EM CONTATO CONOSCO</h3>
          <div style="opacity: 1;" class="mt-5 row row-justify-center">
             <a href="https://www.instagram.com/cmr.poli/" target="_blank" class="button button-large w-button b-social"><i class="fab fa-instagram" style='font-size: 20px;'></i>&nbsp;&nbsp;@cmr.poli</a>
             <a href="mailto:renanmat84@gmail.com" target="_blank" class="button button-large w-button b-social"><i class="fa fa-envelope" style='font-size: 20px;'></i>&nbsp;&nbsp;<span class="__cf_email__" data-cfemail="dbb8b4f5b2b5afbebca9baabb4b7b2f5e9ebe9ef9bbcb6bab2b7f5b8b4b6">[email&#160;protected]</span></a>
          </div>
       </div>
    </div>
 </div>
</div>

{% endblock %}