{% extends 'base.html' %}

{% block content %}
{% include "navbarMain.html" %}

<style>
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.containeraniversario {
  color: #FFA500;
  margin: 0 auto;
  text-align: center;
}


.aniversario-list {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}
</style>


<script>
(function () {
    const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;
  
    //I'm adding this section so I don't have to keep updating this pen every year :-)
    //remove this if you don't need it
    let today = new Date(),
        dd = String(today.getDate()).padStart(2, "0"),
        mm = String(today.getMonth() + 1).padStart(2, "0"),
        yyyy = today.getFullYear(),
        nextYear = yyyy + 1,
        dayMonth = "12/02/",
        birthday = dayMonth + yyyy;
    
    today = mm + "/" + dd + "/" + yyyy;
    if (today > birthday) {
      birthday = dayMonth + nextYear;
    }
    //end
    
    const countDown = new Date(birthday).getTime(),
        x = setInterval(function() {    
  
          const now = new Date().getTime(),
                distance = countDown - now + 50400000;
  
          document.getElementById("days").innerText = Math.floor(distance / (day)),
            document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
            document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
            document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
  
          //do something later when date is reached
          if (distance < 0) {
            document.getElementById("headline").innerText = "COMEÇOU O MINI CAÇA!!!";
            document.getElementById("countdown").style.display = "none";
            document.getElementById("content").style.display = "block";
            clearInterval(x);
          }
          //seconds
        }, 0)
    }());
</script>

<div class="containeraniversario">
    <h1 id="headline">Contagem para o Mega Mini Caça</h1>
    <div id="countdown">
      <ul>
        <li class="aniversario-list"><span id="days"></span>Dias</li>
        <li class="aniversario-list"><span id="hours"></span>Horas</li>
        <li class="aniversario-list"><span id="minutes"></span>Minutos</li>
        <li class="aniversario-list"><span id="seconds"></span>Segundos</li>
      </ul>
    </div>
    <div id="content" class="emoji">
      <span>🥳</span>
      <span>🎉</span>
      <span>🔎</span>
    </div>
  </div>



<!--  <img main src="static/images/divulgacao.jpg" alt="Description of the image"> -->

<style>
    .imagemhomepage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110vh;
        margin: 0;
    }

    .responsive {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="imagemhomepage">
    <img src="static/images/divulgacao.jpg" alt="Nature" class="responsive">
</div>

{% endblock %}