{% extends 'base.html' %}

{% block content %}
{% include "navbarMain.html" %}

<!--  <img main src="static/images/divulgacao.jpg" alt="Description of the image"> -->

<style>
    .imagemhomepage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .responsive {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="imagemhomepage">
    <img src="static/images/divulgacao.jpg" alt="Nature" class="responsive">
</div>

{% endblock %}