{% extends 'base.html' %}

{% block content %}
{% include "navbarMain.html" %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center personagens">
            <div class="mb-2"><img src='../static/images/ALICE.png' alt="" class="">
            </div>
            <p class="fw-bold">Alice</p>
            <p>Alice é uma jovem curiosa, corajosa e imaginativa que explora um mundo mágico e surreal, 
                onde encontra criaturas peculiares, desafios estranhos e situações absurdas. 
                Sua grande missão é, correndo contra o tempo e a loucura, encontrar saída do País das 
                Maravilhas de volta ao mundo real.
            </p>

        </div>
        <div class="col-md-3 text-center personagens">
            <div class="mb-2"><img src='../static/images/CHAPELEIRO.png' alt="" class="">
            </div>
            <p class="fw-bold">Chapeleiro Maluco</p>
            <p>“Eu não sou louco. Minha realidade é apenas diferente da sua”. O Chapeleiro Maluco é um ser enigmático, 
                excêntrico e único. Será que Alice conseguirá desvendar seus enigmas? 
            </p>

        </div>
        <div class="col-md-3 text-center personagens">
            <div class="mb-2"><img src='../static/images/COELHO_BRANCO.png' alt="" class="">
            </div>
            <p class="fw-bold">Coelho Branco</p>
            <p>“Quanto mais me apresso, mais atrasado eu fico. Caminhar é fácil, difícil é escolher o caminho”. 
                O elegante Coelho Branco sempre está atrasado lutando contra o tempo junto de seu inseparável relógio.
                 Sua pressa e comportamento frenético desencadeiam a aventura de Alice, levando-a a seguir o coelho e 
                 entrar em um mundo surreal. 
            </p>
        </div>
        <div class="col-md-3 text-center personagens">
            <div class="mb-2"><img src='../static/images/LEBRE_DE_MARCO.png' alt="" class="">
            </div>
            <p class="fw-bold">Lebre de Março</p>
            <p>“Tome mais um pouco de chá”. A Lebre de Março com sua peculiaridade e extravagância destaca-se pela 
                sua obsessão pelo Chá da Tarde sem fim. Será que Alice conseguirá finalizar o chá e voltar para sua casa? 

            </p>
        </div>
        <div class="col-md-3 text-center personagens">
            <div class="mb-2">
                <img src='../static/images/RAINHA_VERMELHA.png' alt="" class="">

            </div>
            <p class="fw-bold">Rainha Vermelha</p>
            <p>“Cortem as cabeças!”. A Rainha Vermelha é uma das monarcas do País das Maravilhas. 
                Autoritária e arbitrária, Alice precisa vencer os obstáculos impostos pela Rainha 
                para encontrar seu caminho de volta para casa.</p>
        </div>
    </div>
</div>

{% endblock %}