{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated and user.is_CO %}

{% include "navbarCO.html" %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class='container'>
  <h2>Pistas:
    <button type="button" name="button" class="btn btn-left btn-outline-secondary m-1 float-right modalButton" data-form-url="{% url 'pistas:create_pista' %}">
      Criar Pista
    </button>
    <button type="button" name="button" class="btn btn-left btn-outline-secondary m-1 float-right modalButton" data-form-url="{% url 'pistas:carregar_pistas' %}">
      Carregar Pistas
    </button>
    {% if pistas %}
    <button onclick="resetar_pistas()" type="button" name="button" class="btn btn-left btn-outline-secondary m-1 float-right" {% if gerencial.caca_start %}disabled{% endif %}>
      Resetar Pistas
    </button>
    <button onclick="deletar_pistas()" type="button" name="button" class="btn btn-left btn-outline-secondary m-1 float-right" {% if gerencial.caca_start %}disabled{% endif %}>
      Apagar todas Pistas
    </button>
    {% endif %}
  </h2>
  <div class="tabela">
    <table class="table table-bordered" id="table">
      <thead>
      <tr>
        <th scope="col" style="width:100px;">Número</th>
        <th scope="col">Conteúdo</th>
        <th scope="col" style="width:150px;">Caminho</th>
        <th scope="col" style="width:150px;">Status</th>
        <th scope="col" style="width:150px;">Ações</th>
      </tr>
      </thead>
      <tbody>
      {% for pista in pistas %}
      <tr>
        <td>{{ pista.numero }}</td>
        <td>{% include "pistas/viewConteudoPista.html" %}</td>
        <td>{{ pista.caminho|default:"Não atribuida" }}</td>
        <td>{{ pista.get_status_display }}</td>
        <td style='text-align: center;'>
          <button type="button" name="button" class="btn btn-primary modalButton btn-ctrl" 
                  data-form-url="{% url 'pistas:detail_pista' pista.id %}"><i class="fa fa-eye"></i></button>
          <button type="button" name="button" class="btn btn-success modalButton btn-ctrl" 
                  data-form-url="{% url 'pistas:update_pista' pista.id %}"><i class="fa fa-edit"></i></button>
          <button type="button" name="button" class="btn btn-danger modalButton btn-ctrl" 
                  data-form-url="{% url 'pistas:delete_pista' pista.id %}"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
{% endblock %}

{% block js %}
{% if user.is_authenticated and user.is_CO %}

<script src="{% static 'js/excel-bootstrap-table-filter-bundle.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/excel-bootstrap-table-filter-style.css' %}"/>
<script>
  // Use the plugin once the DOM has been loaded.
  $(function () {
    // Apply the plugin 
    $('#table').excelTableFilter({captions: {a_to_z: 'A > Z', z_to_a: 'Z > A', search: 'Pesquisa', select_all: 'Selecionar todos'}});
  });


</script>

<script type="text/javascript">
  $(document).ready(function(){
    var observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutationRecord) {
        var open = false;
        $('.dropdown-filter-content').each(function() {
          if ($(this).css("display") == 'block') {
            open = true;
          }
        });
        if (open == true) {
          $('.tabela').css( "overflow", "inherit" );
        } else {
          $('.tabela').css( "overflow", "auto" );
        };
        
        console.log('style changed!'+observer.type);
      });    
    });
  var targets = document.getElementsByClassName("dropdown-filter-content");
  console.log(targets.length);
  for (var i = 0; i < targets.length; i++) {
    observer.observe(targets.item(i), { attributes : true, attributeFilter : ['style'] });
  };
  });


</script>

<script type="text/javascript">
function resetar_pistas() {
  if(confirm('Tem certeza que deseja resetar todas pistas?')) {
  $.get( "{% url 'pistas:resetar_pistas' %}", function( data ) {location.reload()});
}
};
function deletar_pistas() {
  if(confirm('Tem certeza que deseja apagar todas pistas?')) {
    $.get( "{% url 'pistas:deletar_pistas' %}", function( data ) {location.reload()});
  }
};
</script>


<script type="text/javascript">
  $(".modalButton").each(function () {
    $(this).modalForm({
      formURL: $(this).data("form-url")
    });
  });
</script>


<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% endif %}
{% endblock %}
