{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated and user.is_CO %}

{% include "navbarCO.html" %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class='container'>
  
<h1>Modelo de artefatos usado em 2022, atualizar ele para utilizar</h1>
<br><br>  
<h2>Artefatos:
    <button type="button" name="button"
            class="btn btn-left btn-outline-secondary modalButton" data-form-url="{% url 'artefatos:create_artefato' %}">Criar Artefato
    </button>
  </h2>
  <div class="tabela">
    <table class="table table-bordered" id="table">
      <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Trivia</th>
        <th scope="col">Gaba</th>
        <th scope="col">Hora Ativo</th>
        <th scope="col">CA</th>
        <th scope="col">Usado</th>
        <th scope="col" style='width: 150px;'>Ações</th>
      </tr>
      </thead>
      <tbody>
      {% for artefato in artefatos %}
      <tr>
        <td>{{ artefato.nome }}</td>
        <td>{{ artefato.trivia }}</td>
        <td>{{ artefato.gaba }}</td>
        <td>{{ artefato.hora_ativo | date:"d/m H:i" }}</td>
        <td>{{ artefato.CA_dono }}</td>
        <td>{{ artefato.get_usado_display }}</td>
        <td style='text-align: center;'>
          <button type="button" name="button" class="btn btn-primary updateartefato btn-ctrl" onclick="editarArtefato()"
                  data-form-url="{% url 'artefatos:detail_artefato' artefato.pk %}"><i class="fa fa-eye"></i></button>
          <button type="button" name="button" class="btn btn-success updateartefato btn-ctrl" onclick="editarArtefato()"
                  data-form-url="{% url 'artefatos:update_artefato' artefato.pk %}"><i class="fa fa-edit"></i></button>
          <button type="button" name="button" class="btn btn-danger updateartefato btn-ctrl" onclick="editarArtefato()"
                  data-form-url="{% url 'artefatos:delete_artefato' artefato.pk %}"><i class="fa fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
{% endblock %}

{% block js %}
{% if user.is_authenticated and user.is_CO %}

<script src="{% static 'js/excel-bootstrap-table-filter-bundle.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/excel-bootstrap-table-filter-style.css' %}"/>
<script>
  // Use the plugin once the DOM has been loaded.
  $(function () {
    // Apply the plugin 
    $('#table').excelTableFilter({captions: {a_to_z: 'A > Z', z_to_a: 'Z > A', search: 'Pesquisa', select_all: 'Selecionar todos'}});
  });

</script>

<script type="text/javascript">
  $(document).ready(function(){
    var observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutationRecord) {
        var open = false;
        $('.dropdown-filter-content').each(function() {
          if ($(this).css("display") == 'block') {
            open = true;
          }
        });
        if (open == true) {
          $('.tabela').css( "overflow", "inherit" );
        } else {
          $('.tabela').css( "overflow", "auto" );
        };
        });    
    });
  var targets = document.getElementsByClassName("dropdown-filter-content");
  console.log(targets.length);
  for (var i = 0; i < targets.length; i++) {
    observer.observe(targets.item(i), { attributes : true, attributeFilter : ['style'] });
  };
  });

</script>

<script type="text/javascript">
  $(".modalButton").each(function () {
    $(this).modalForm({
      formURL: $(this).data("form-url")
    });
  });
</script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% endif %}
{% endblock %}
